* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.note-header {
  justify-content: space-around;
  align-items: center;
}

.add-note-btn {
  font-size: 1.8rem;
  color: #fff;
  width: 14%;
  border-radius: 5px;
  background-color: #11a614;
  border: none;
  padding: 0.5rem;
}
